@import "../../global/colors.scss";

.LoginPage {
  .background {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    &#pic {
      background-image: url("../../images/login.jpg");
    }

    a {
      color: white;
    }
  }
}
