
.Card {
    background: white;
    color: #222222;
    
    border-radius: 0.5em;
    
    margin: 1em;
    border: 10px;

    
    
}

body{
    background: white;

}
.colorr{
  color: white;
}
.colorrs{
  color:#003878;
}
.col{
  background-color: #002b5c;
  height: 30px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
}
img{
  border-radius: 100%;
  height: 20%;
  width: 20%;
  margin-left: 10px;
  border-width: 5px;

}
input[type="button"],
input[type="submit"]{
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    /*font: normal 30px 'Bitter', serif;*/
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
    width: 100px
}
input[type="button"],
input[type="submit"]:hover{
    background: #2A6881;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    cursor: pointer;
}

input:focus,
  {
    outline: 2px solid aqua;
}


@media print {
  .page {
    width: initial !important;
    min-height: initial !important;
    border: initial !important;
    border-radius: initial !important;
    background: initial !important;
    box-shadow: none !important;
    padding-left: 5em;
    //page-break-after: always;
  }
  
  .NavigationBar{
    display: none;

  }
  input{
    display: none;
  }

}

.pdf {
  * {
    -webkit-print-color-adjust: exact;
  }
}

.tab,
.tab-row {
  page-break-inside: avoid;
}

.tab:last-of-type {
  page-break-after: avoid;
}

div.page-break {
  
}


h1 {
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  page-break-after: avoid;
}

p {
  margin: 0;
}

p + p {
  margin-top: 0.5cm;
}

a {
  text-decoration: none;
  color: black;
}

table {
  page-break-inside: avoid;
}

@page :first {
  margin-left: 0cm;
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 2cm;
}

@page {
  orphans: 4;
  widows: 2;

  size: A4 portrait;
  margin-left: 0cm;
  margin-top: 2cm;
  margin-right: 0cm;
  margin-bottom: 2cm;
}

.page {
  width: 21cm;
  min-height: 29.7cm;
  padding-left: 2cm;
  padding-top: 2cm;
  padding-right: 2cm;
  padding-bottom: 2cm;
}

@media print {
  html,
  body {
    background-color: #fff;
  }
}
