.Donation {
  .background {
    background: black;
    background-image: url("../../images/donation.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  p {
    color: white;
  }
  h4 {
    color: white;
  }
  h5 {
    color: white;
  }
  .Card {
    background: #00000077;
  }
  label {
    color: white;
    margin: 5px;
  }
}
