.Container {
    width: auto;
    padding: 1em;
    margin: 1em auto;

    @media screen and (orientation: landscape) {
        width: 75%;
    }

    @media screen and (orientation: portrait) {
        width: 95%;
        padding: 1em 0.5vw;
        margin: auto;
    }
}