.Container {
	width: auto;
	padding: 0.5em;
	margin: 2em auto;
	background: green;

	@media screen and (orientation: landscape) {
		width: 75%;
	}

	@media screen and (orientation: portrait) {
		width: 90%;
	}
}