@import '../../global/colors.scss';

.Home {
    background-color: black;

    .background {
        height: 100vh;
        background: #555555;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    .banner {
        color: $primaryColor;
        padding: 0.5em;
        text-align: right;
        font-size: 7em;
        font-weight: 900;
    }

    #top {
        background-image: url('../../images/background.jpg');
    }

    #rural {
        background-image: url('../../images/rural.jpg');
    }

    #bottom {
        background-image: url('../../images/background2.jpg');
    }

    .content {
        color: white;
        padding: 2em;
    }
}