@media all and (orientation: landscape) {
    .Feed {
        writing-mode: vertical-rl;
        left: 0;
        top: 0;
        height: 100vh;
        position: fixed;
    
        ul {
            padding: 0;
            text-transform: uppercase;
    
            a,
            a:hover,
            a:visited {
                text-decoration: none;
                color: white;
    
                &.active li,
                li:hover {
                    background: rgb(150, 237, 248);
                    color: black;
                }
    
                li{
                    display: inline;
                    padding: 1em;
                    background: black;
                    transition: background 500ms ease;
    
                }
            }
        }
    }
    }
    @media all and (orientation: portrait) {
        .Feed {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            
            ul {
                padding: 0;
                text-transform: uppercase;
        
                a,
                a:hover,
                a:visited {
                    text-decoration: none;
                    color: white;
        
                    &.active li,
                    li:hover {
                        background: rgb(150, 237, 248);
                        color: black;
                    }
        
                    li{
                        display: inline;
                        padding: 1em;
                        background: black;
                        transition: background 500ms ease;
        
                    }
                }
            }
        }
        }