.Card {
    background: white;
    box-shadow: 0 0.5em 1em 0 #00000055;
    border-radius: 0.5em;
    transition: all 500ms ease;

    &:hover {
        box-shadow: 0 0.75em 1.5em 0 #00000077;
    }
}