@import '../../global/colors.scss';

.UserProfile {
    .grid-container {
        display: grid;

        &#topbar {
			grid-template-columns: repeat(3, 1fr);

            .grid-item {
                margin: 1em;
                padding: 1em;
                border-radius: 1em;
                transition: all 500ms ease;

                h3 {
                    margin: 0;
                    padding: 0.5em;
                }

                span.number {
                    padding: 0.5em;
                    font-size: 1.75em;
                    font-weight: bolder;
                }

                &:hover {
                    background: #eeeeee;
                    color: $primaryColor;
                }
            }
        }
    }
}