@import '../../global/colors.scss';

.UserProfile {
    a {

        &,
        &:hover,
        &:visited {
            color: #222222;
            text-decoration: none;

            &:hover {
                color: $primaryColor;
            }
        }
    }

    h2 {
        padding: 1em;
        border-bottom: 0.025em solid #555555;
    }

    .grid-container {
        display: grid;

        &#topbar {
            @media screen and (orientation: landscape) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media screen and (orientation: portrait) {
                grid-template-rows: repeat(3, 1fr);
            }

            a.grid-item {
                margin: 1em;
                padding: 1em;
                border-radius: 1em;
                transition: all 500ms ease;

                &,
                &:hover,
                &:visited {
                    color: #222;
                    text-decoration: none;

                    &:hover {
                        background: #00000011;
                        color: $primaryColor;
                    }

                    &.active {
                        background: #00000022;
                        color: lighten($primaryColor, 1.1);
                    }
                }

                h3 {
                    margin: 0;
                    padding: 0.5em;
                }

                span.number {
                    padding: 0.5em;
                    font-size: 1.75em;
                    font-weight: bolder;
                }
            }
        }
    }
}