@import "../../global/colors.scss";

.Payment {
  background-color: $primaryColor;
  @media screen and (orientation: portrait) {
    margin-top: 5em;
  }

  .Card {
    @media screen and (orientation: landscape) {
      width: 40%;
      margin: auto;
    }
  }

  img#coins {
    width: 30%;
  }

  img#qr {
    width: 100%;
  }

  .Footer {
    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    width: 100%;
    height: 3em;
    margin: 2em auto;

    img {
      height: 100%;
      justify-self: center;
    }
  }
}
