.Header {
    font-family: 'Courier Prime';
    font-size: 1.40vw;
    position: absolute;
    top:0;
    height: 10vh;
    text-align: center;
    padding-left: 50%;
    padding-top: 2.5%;

    ul{
        padding:0.5em;
        a,
        a:hover,
        a:visited {
            color: white;
            text-decoration: none;
        }
        
        a {
            li {
                font-weight: 1000;
                display: inline;
                padding: 0.5em;
               
            }

            &.active li,
            li:hover {
                text-decoration: underline;
            }
        }
    }
}
