.heading{
	text-align: left;
	font-style: italic;
	font-size: 35px;
	padding-left: 20px;
	border-color: #4f98ca;
	margin-block-start: 0em;

	border-left: 6px black;
  background-color:#297ca0 ;
	color:white;
}