.Footer {
    font-family: 'Courier Prime';
    font-size: 1.35vw;
    background: black;
    padding: 0.5em 0;
    width: 100%;

    ul {
        a,
        a:visited {
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            li {
                display: inline;
                padding: 0.5em 1em;
            }
        }
    }
}