.Overlay {
    .backdrop {
        position: fixed;
        background: #00000055;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: 2;
        transition: all 500ms ease;
    }

    .content {
        position: fixed;
        top: -100vh;
        left: 0;
        right: 0;
        transform: rotateX(-90deg);
        z-index: 3;
        transition: all 500ms ease;
    }

    &.active {
        .backdrop {
            opacity: 1;
        }

        .content {
            transform: rotateX(0deg);
            z-index: 2;
            top: 0;
        }
    }
}