
.Display
{.background{
    background-image: url('../../images/joinus.jpg');
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    //object-fit: contain;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;

    z-index: -1;
}
.Container{
    font-size: 20px;
}
.text {
    background: rgba(0,0,0,.47);
    background: transparent;
    background-color: pink;
}
.text{
    text-align: left;
}

.Card {
    background: #00000020;
  }
  .Button{
      width: 15%;
      height: 10%;
  }
}