@import "../../global/colors.scss";

.Post {
    position: relative;
    border-radius: 1em;
    background: white;
    box-shadow: 0 0.5em 1em 0 #00000055;
    width: 100%;
    transition: box-shadow 500ms ease;

    &:hover {
        box-shadow: 0 0.5em 1em 0.5em #00000055;
    }

    .info {
        $size: 1em;
        width: 100%;
        background: mix(#222, $primaryColor, 80%);
        color: white;
        line-height: $size;
        vertical-align: baseline;
        display: grid;
        margin: 0 auto;
        border-radius: 1em 1em 0 0;
        grid-template-columns: auto $size+5em;
        cursor: default;

        .author {
            padding: 0.5em;
            display: grid;
            grid-template-columns: $size+1.5em auto;
            color: white;

            &:hover {
                color: mix($primaryColor, white, 90%);
            }

            .profilePicture {
                width: $size;
                height: $size;
                line-height: $size;
                font-size: $size*2;
                margin: 0;
            }

            .username {
                height: $size;
                text-align: left;
                margin: 0.5em;
            }
        }

        .action {
            display: grid;
            grid-auto-flow: column;
            padding: 0.5em;

            .toggleMenu {
                height: $size;
                width: $size;
                border-radius: 100%;
                padding: 0.5em;
                margin: auto;
                transition: all 250ms ease;

                &:hover {
                    background: #FFFFFF22;
                }
            }

            .timeSince {
                padding: 0.5em;
                margin: auto;
                font-weight: 300;
            }
        }
    }

    .menu {
        height: 0;
        background: $primaryColor;
        background: mix(#00000088, $primaryColor, 80%);
        color: transparent;
        font-weight: bold;
        transition: all 500ms ease, color 500ms ease 100ms;

        &.active {
            height: 2em;
            color: white;
        }

        ul {
            display: grid;
            grid-auto-flow: column;
            height: 100%;
            margin: 0;
            padding: 0;

            li {
                display: inline;
                padding: 0.5em;
                font-size: 0.75em;
                transition: all 500ms ease;
                cursor: pointer;

                &:hover {
                    background: #FFFFFF22;
                }

                &.delete {
                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }

    .picture {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 100%;
        }

        .caption {
            background: $primaryColor;
            background: mix(#00000088, $primaryColor, 80%);
            color: white;
            padding: 0.5em 0;
            font-weight: bold;
        }
    }

    .Container {
        padding-top: 0;
    }

    .reactions {
        border-top: 0.05em solid #00000022;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        div {
            padding: 0.5em;
            font-size: 1.5em;
            font-weight: 600;
            transition: all 500ms ease;
            color: #555;
            cursor: pointer;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0.5em;

            &:hover {
                color: mix($primaryColor, #00000022, 80%);
            }

            &.liked {
                color: rgb(199, 0, 93);
            }

            .icon {
                text-align: left;
            }

            .number {
                text-align: right;
            }
        }
    }

    a.contentLink {
        color: $primaryColor;
        transition: all 500ms ease;

        &:hover {
            text-decoration: underline;
        }
    }
}