@import '../../global/index.scss';

$gradient: linear-gradient(45deg, $accent1, $accent2);

.App {
	margin-top: 15vh;

	.NavigationBar {
		position: fixed;
		top: 0;
		height: 100vh;
		background: $gradient;
		opacity: 90%;
		left: -100vw;
		border-radius: 0 2em 2em 0;
		z-index: 5;
		transition: all 500ms ease;

		@media screen and (orientation: portrait) {
			opacity: 1;
			width: 100vw;
			border-radius: 0;
		}

		&.active {
			left: 0;
			box-shadow: 0 0 1em 0.25em #00000055;
			transition: all 500ms ease;
		}

		.HamburgerMenuToggle {
			position: fixed;
			top: 0; left: 0;
		}

		ul {
			list-style: none;
			text-transform: uppercase;
			padding: 0;
			margin: 20vh 0;
			
			a,
			a:hover,
			a:visited {
				color: white;
				text-decoration: none;
			}

			a {
				li {
					font-size: 1.25em;
					font-weight: 500;
					padding: 0.5em 1.5em;
					letter-spacing: 0.25em;
					border-right: 0.25em solid transparent;
					transition: all 500ms ease;
				}

				&.active li,
				li:hover {
					border-color: white;
					transition: all 500ms ease;
				}
			}
		}
	}
}
