@import '../../global/colors.scss';
@import '../../global/variables.scss';

.NavigationBar {
    position: fixed;
    display: grid;
    bottom: 0;
    left: 0;
    background: #222222;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-weight: bold;
    z-index: 3;

    a {
        transition: all 500ms ease;

        &,
        &:hover,
        &:visited {
            color: white;
            text-decoration: none;
            padding: 1em;
        }

        &:hover {
            background: darken($primaryColor, 10%);
        }

        &.active {
            background: $primaryColor;
        }

        @media screen and (orientation: landscape) {
            writing-mode: vertical-lr;
            text-orientation: sideways;
        }

        span {

            &.icon {
                @media screen and (orientation: portrait) {
                    font-size: 1.5em;
                }
            }

            &.name {
                padding: 1em;

                @media screen and (orientation: portrait) {
                    display: none;
                }
            }
        }
    }

    @media screen and (orientation:landscape) {
        height: 100%;
        width: $navSize;
    }

    @media screen and (orientation: portrait) {
        height: $navSize;
        width: 100%;
        grid-auto-flow: column;
    }
}