@import './global/variables.scss';
@import './global/colors.scss';

.App {
    text-align: center;
    $size: 1em;

    *:focus {
        outline: none;
    }

    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Content {
        padding: 0;

        @media screen and (orientation: landscape) {
            margin-left: $navSize;
        }

        @media screen and (orientation: portrait) {
            margin-bottom: $navSize;
        }
    }

    .profilePicture {
        font-size: $size*2;
        color: #eee;
        background: #222;
        border-radius: 100%;
        box-shadow: 0 0 0.25em 0 #00000099;
        height: $size;
        width: $size;
        line-height: $size;
        margin: auto;
        margin-top: $size / -2;
        padding: $size / 15;
        transition: all 500ms ease;

        &:hover {
            transform: scale(1.005);
            box-shadow: 0 0 0.5em 0 #00000099;
        }
    }

    a {
        $color: $primaryColor;
        font-weight: bold;
        transition: all 500ms ease;

        &,
        &:visited {
            color: $color;
        }

        &:hover {
            color: $color;
            opacity: 1;
        }
    }
}