@import './global/variables.scss';

.App {
    text-align: center;

    *:focus {
        outline: none;
    }

    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Content {
        padding: 3em 0;

        @media screen and (orientation: landscape) {
            margin-right: $navSize;
        }

        @media screen and (orientation: landscape) {
            margin-bottom: $navSize;
        }
    }
}