@import './global/variables.scss';

.App {
    text-align: center;

    *:focus {
        outline: none;
    }

    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Content {
        padding: 0;

        @media screen and (orientation: landscape) {
            margin-left: $navSize;
        }

        @media screen and (orientation: landscape) {
            margin-bottom: $navSize;
        }
    }

    a {
        $color: rgb(5, 113, 202);
        font-weight: bold;
        transition: all 500ms ease;

        &,
        &:visited {
            color: $color;
        }

        &:hover {
            color: darken($color, 20%);
        }
    }
}